<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/question.css">
    <title>سوالات متداول</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="header-title">سامانه فروش تولیدکنندگان پوشاک کشور</h1>
            <div class="logo-container-one">
                <img class="logo" src="./logo/logo.png">
            </div>
            <h2 class="title-page">سوالات متداول</h2>
        </header>

        <main>
            <div class="container-accordion">
                <button class="accordion">
                    میزان سود خالص  نمایندگی چه مقدار می باشد ؟
                </button>
                <div class="panel">
                    <p>۴.۵ ( چهار و نیم )از کل مبلغ معاملات به نمایندگی معرف آن مشتری تعلق میگیرد .</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    با اخذ نمایندگی چی استور درآمدی پیش بینی در سال اول به صورت ماهانه چه مقدار است؟
                </button>
                <div class="panel">
                    <p>میانگین درآمدی نماینده کاملا وابسته به عملکرد نماینده می باشد 
                        ولیکن حداقل پیش بینی با به کار گیری متد های آموزشی ماهیانه  ۴۵ میلیون تومان درآمد برای نمایندگی فعال قابل پیش بینی است</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    برای اخذ نمایندگی به چه مقدار سرمایه نیازمندیم ؟ 
                </button>
                <div class="panel">
                    <p>+ فضای تجاری /اداری به حداقل متراژ 60متر<br>
                        + تجهیزات اداری و میز صندلی<br>
                        + پرداخت حق اشتراک استفاده از نام تجاری</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    نمایده شرکت چه وظایفی را بر عهده دارد؟
                </button>
                <div class="panel">
                    <p>+ تبلیغات بازاریابی و فروش محصولات <br>
                        + چک QC اجناس قبل از جمع آوری پستی</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    نقش نمایندگی در بازار به چگونه است؟ 
                </button>
                <div class="panel">
                    <p>نمایده شرکت به عنوان یکی از بزرگترین تامین کنندگان پوشاک و نساجی در خاور میانه شناخته میشود و میتواند نیاز مشتریان و بازار های جوامع مختلف را به صورت عمده از تولیدکنندگان داخلی تامین نماید . </p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    آیا اجناس  به صورت فیزیکی در اختیار نمایندگان قرار می گیرد ؟ 
                </button>
                <div class="panel">
                    <p>از آنجایی که تنوع و حجم اجناس بسیار بالاست امکان نگهداری این حجم در فضای نمایندگی وجود ندارد و در صورت بروز حادثه متحمل ریسک قابل توجهی است  . عمده اجناس در فضای انبار مرکزی و انبار خود تولیدکنندگان نگهداری میشود و تنها پس از سفارش مشتری  ۴۸ ساعت برای چک QC در اختیار نمایندگان قرار می گیرد .</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    شیوه پرداخت مشتریان به چه شکل است ؟
                </button>
                <div class="panel">
                    <p>
                        + پرداخت آنلاین <br>
                        + پرداخت در محل <br>
                        + پرداخت به صورت اعتباری <br>
                    </p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    کارمزد نمایندگان چه موقع پرداخت می‌شود ؟
                </button>
                <div class="panel">
                    <p> به صورت آنی به محض احراز ثبت و خرید مشتریان معرفی شده از سوی نماینده پرداخت شده و ریز عملکرد مشتریان در پنل نمایندگی قابل مشاهده است.</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    نمایندگان از چه شیوه های تبلیغاتی میتوانند برای فروش و درآمد خود استفاده کنند ؟
                </button>
                <div class="panel">
                    <p>در طول دوره آموزشی تمامی متد های بازاریابی از جمله
                        شیوه های پرزنت ، اصول مذاکره ، دیجیتال مارکتینگ ، بازاریابی حضوری و... آموزش داده خواهد شد و نماینده میتواند از این متد ها بهره گیرد.</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    تنوع اجناس چی استور به چه صورت است؟
                </button>
                <div class="panel">
                    <p>تنوع محصولات شامل
                        مردانه ، زنانه ، بچه گانه </p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    تنوع سبک ها به چه صورت است؟
                </button>
                <div class="panel">
                    <p>همه نوع سبک و استایل موجود است (مجلسی ، اداری ، راحتی و ... )</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    مزیت قیمتی محصولات چی استور نسبت به سایر رقبا به چه گونه است ؟
                </button>
                <div class="panel">
                    <p>چی استور اولین و بزرگترین تامین کننده صنعت پوشاک و نساجی ایران است که تمامی محصولات خود را با گارانتی کتی تضمین قیمت به مشتریان ارائه میدهد .</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    ضمانتی برای کیفیت اجناس وجود دارد؟
                </button>
                <div class="panel">
                    <p>تمامی سفارشات مشتریان قبل از ارسال توسط کارشناسان QC چک میشوند و در صورت عدم تطابق با اطلاعات و کیفیت درج شده در سامانه در همان مرحله مرجوع شده و از ارسال آن جلوگیری به عمل خواهد آمد ضمناً تمامی اجناس شامل 7روز مهلت مرجوعی می‌باشند.</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    آیا چی استور خود یک تولید کننده است ؟
                </button>
                <div class="panel">
                    <p>بله ، تیم چی استور متشکل از جوانان متخصص فعال و تولید کننده فناوری که با آن بستری برای همکاری با +1200 تولیدکننده صنایع پوشاک و نساجی در سراسر ایران فراهم آورده است .</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    پس از اخذ نمایندگی چطور کار خود را شروع و تبلیغات کنیم ؟
                </button>
                <div class="panel">
                    <p>
                    افراد پس از اخذ نمایندگی و ورود به خانواده بزرگ چی استور 
                    توسط بهترین اساتید این حوزه شروع به آموزش دیدن میکنند و پشتیبانان با پیگیری تمامی مراحل را در کنارتان خواهند بود .
                    آموزش جز جدایی ناپذیر از فرهنگ سازمانی چی استور بوده و اعضای این خانواده به صورت رایگان دوره میگذرانند.</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    آیا نماینده حق فروش و واگذاری امتیاز نمایندگی خود را دارد؟
                </button>
                <div class="panel">
                    <p> با هماهنگی و قوانین شرکت صورت می گیرد .</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    آیا میتوانم به عنوان سرمایه گذار با مجموعه چی استور همکاری داشته باشم ؟
                </button>
                <div class="panel">
                    <p>
                    بله در پلن اخذ نمایندگی چی استور این مورد پیش بینی شده و صرفاً با اخذ نمایندگی+آماده سازی فضای کار و معرفی نیرو خود میتوانید از سود سرمایه گذاری لذت ببرید.</p>
                </div>
            </div>

            <div class="container-accordion">
                <button class="accordion">
                    نحوه حمل و نقل اجناس به چه صورت است؟ 
                </button>
                <div class="panel">
                    <p>حمل و نقل اجناس توسط تولیدی به شما رسانده می شود ، مامور پست در محل نمایندگی شما جنس را تحویل می‌گیرد و به دست مشتری می رساند .</p>
                </div>
            </div>
            
        </main>

        <div class="footer">
            <div>
                <a  href="https://trustseal.enamad.ir/?id=248366&code=nWHbJZwi5ZetplLy6fZO" target="_self" rel="noopener">
                    <img class="footer-logo" src="./logo/photo_2022-09-19_17-40-51.jpg">
                </a>
            </div>
            <div class="text-footer">
                <div class="link">
                    <a class="question" href="./question.html">سوالات</a>
                    <span>,</span>
                    <a class="about-us" href="./about.html">درباره ما</a>
                </div>
                <p class="text">تمامی حقوق این سایت متعلق به شرکت لیان یاقوت ممتاز ایده (لیما) می باشد</p>
                <p class="text">تابستان 1401 ©</p>
            </div>
        </div>

    </div>
        <script src="./script/script.js"></script>
</body>
</html>