{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contract.css' %}">
    <title>ثبت نام فروشندگان</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="header-title">سامانه فروش تولیدکنندگان پوشاک کشور</h1>
            <div class="logo-container-one">
                <img class="logo" src="{% static 'logo/logo.png' %}">
            </div>
            <h2  class="title-page">پذیرش قرارداد</h2>
        </header>

        <main class="main">
            <div class="container-text-contract">
                <textarea class="text-contract" rows="15" cols="40">
                    قوانین و قرارداد
                    ین قرارداد شامل عقد از راه دور بوده و ایجاب و قبول آن با استفاده از وسایل ارتباط از راه دور است که شخص ثبت نام کننده آنرا بدون هیچ گونه اجبار و اکراه و از روی صحت و سالمت و رضایت کامل بوسیله امضای الکترونیک و فشار دادن دکمه تایید مطابق ماده 10 قانون مدنی و وفق ماده 2 و 7 قانون تجارت الکترونیک این قرارداد را منعقد و امضاء نموده است که صیغۀ بیع شرعی و قانونی بدینوسیله بین طرفین جاری می گردد.
                    روي صحت و سلامت و رضايت کامل اين قرار داد را منعقد نموده است .
                    ارسال شده میباشد و موظف به اطلاع رسانی قبولی یا رد رزومه کاری ارسال شده توسط متقاضی است خریدار می باشد .
                    این قرارداد هیچگونه تعهد استخدامی برای چی استور ایجاد نمیکند و از شمول قانون کار و بیمه خارج است و صرفاً جهت بررسی رزومه کاری متقاضیان محترم می باشد .
                    هر شخص می باید مستقیما در سایت رسمی شرکت با نام خود ثبت نام کند و مسئولیت هر گونه عدم تطابق اطلاعات ذکر شده در رزومه به عهده نامبرده (متقاضی) می‌باشد.
                    طبق ماده 555 قانون مجازات اسلامی  هر گونه جعل عنوان ممنوع بوده و مسئولیت استفاده از عناوین کذب به عهده متقاضی می‌باشد .
                    ماده2 تجارت الکترونيکي
                    (امضاي الکترونيکي)
                    عبارت از هر نوع علامت منضمم شده يا به نحو منطقي متصل شده به(داده پيام) است كه براي شناسايي امضاء كننده(داده پيام)، مورد استفاده  قرار مي گيرد.
                    (وسایل ارتباط ازراه دور)
                    عبارت از هر نوع وسيله اي است كه بدون حضور فيزيكي همزمان تامين كننده و مصرف كننده جهت فروش كالا و خدمات استفاده مي‌شود.
                    (عقدازراه دور)
                    ايجاب و قبول راجع به كالاها و خدمات بين تامين كننده و مصرف كننده با استفاده از وسايل ارتباط از راه دور است.
                    ماده 7 تجارت الکترونيکي:
                    هر گاه قانون وجود امضاء را لازم بداند امضاي الکترونيکي مكفي است.
                    ماده 10 مدني :
                    قراردادهاي خصوصي نسبت به کسانيکه آن را منعقد نموده اند درصورتي که مخالف صريح قانون نباشد نافذ است.
                    اين قرار داد وفق ماده 2 و 7 قانون تجارت الکترونيک و ماده 10 قانون مدني جمهوري اسلامي ايران منعقد گرديد و بين طرفين لازم مي باشد
                </textarea>
            </div>

            {% comment %} <div class="container-chckbox">
                <div class="checkbox">
                    <input type="checkbox" checked>
                    <label class="text-chechbox">قوانین  قرار داد فوق را مطالعه کرده و میپذیرم</label>
                </div>
            </div>

            <div class="container-btn-payment">
                <button class="btn-payment">
                    پرداخت آنلاین
                </button>
            </div> {% endcomment %}
            <form action="" method="post">
                {% csrf_token %}
            
                <textarea class= "container-fluid mt-auto" dir='rtl' name="rule" id="rule" cols="50" rows="10" style="overflow:auto;">
                    قوانین و قرارداد
                    ین قرارداد شامل عقد از راه دور بوده و ایجاب و قبول آن با استفاده از وسایل ارتباط از راه دور است که شخص ثبت نام کننده آنرا بدون هیچ گونه اجبار و اکراه و از روی صحت و سالمت و رضایت کامل بوسیله امضای الکترونیک و فشار دادن دکمه تایید مطابق ماده 10 قانون مدنی و وفق ماده 2 و 7 قانون تجارت الکترونیک این قرارداد را منعقد و امضاء نموده است که صیغۀ بیع شرعی و قانونی بدینوسیله بین طرفین جاری می گردد.
                    روي صحت و سلامت و رضايت کامل اين قرار داد را منعقد نموده است .
                    ارسال شده میباشد و موظف به اطلاع رسانی قبولی یا رد رزومه کاری ارسال شده توسط متقاضی است خریدار می باشد .
                    این قرارداد هیچگونه تعهد استخدامی برای چی استور ایجاد نمیکند و از شمول قانون کار و بیمه خارج است و صرفاً جهت بررسی رزومه کاری متقاضیان محترم می باشد .
                    هر شخص می باید مستقیما در سایت رسمی شرکت با نام خود ثبت نام کند و مسئولیت هر گونه عدم تطابق اطلاعات ذکر شده در رزومه به عهده نامبرده (متقاضی) می‌باشد.
                     طبق ماده 555 قانون مجازات اسلامی  هر گونه جعل عنوان ممنوع بوده و مسئولیت استفاده از عناوین کذب به عهده متقاضی می‌باشد .
                    ماده2 تجارت الکترونيکي
                    (امضاي الکترونيکي) (Electronic Signature):
                    عبارت از هر نوع علامت منضمم شده يا به نحو منطقي متصل شده به(داده پيام) است كه براي شناسايي امضاء كننده(داده پيام)، مورد استفاده قرار مي گيرد.
                    (وسایل ارتباط ازراه دور)(Means Of Distance Communication):
                    عبارت از هر نوع وسيله اي است كه بدون حضور فيزيكي همزمان تامين كننده و مصرف كننده جهت فروش كالا و خدمات استفاده مي‌شود.
                    (عقدازراه دور)(Distance Contract):
                    ايجاب و قبول راجع به كالاها و خدمات بين تامين كننده و مصرف كننده با استفاده از وسايل ارتباط از راه دور است.
                    ماده 7 تجارت الکترونيکي:
                    هر گاه قانون وجود امضاء را لازم بداند امضاي الکترونيکي مكفي است.
                    ماده 10 مدني :
                    قراردادهاي خصوصي نسبت به کسانيکه آن را منعقد نموده اند درصورتي که مخالف صريح قانون نباشد نافذ است.
                    اين قرار داد وفق ماده 2 و 7 قانون تجارت الکترونيک و ماده 10 قانون مدني جمهوري اسلامي ايران منعقد گرديد و بين طرفين لازم مي باشد.
                </textarea>
            
                {{ rule_form | crispy }}
        
                {% if request.get_full_path == "/profile/" %}
                    <button><a href="http://127.0.0.1:8000/go-to-gateway" alt='Broken Link'>پرداخت آنلاین</a></button>
                {% else %}
                    <button>پرداخت آنلاین</button>
                {% endif %}
            
            </form>
            
        </main>

        <div class="footer">
            <div>
                <a  href="https://trustseal.enamad.ir/?id=248366&code=nWHbJZwi5ZetplLy6fZO" target="_self" rel="noopener">
                    <img class="footer-logo" src="{% static 'logo/photo_2022-09-19_17-40-51.jpg' %}">
                </a>
            </div>
            <div class="container-text-footer">
                <p class="text-footer">تمامی حقوق این سایت متعلق به شرکت لیان یاقوت ممتاز ایده (لیما) می باشد</p>
                <p class="text-footer">تابستان 1401 ©</p>
            </div>
        </div>

    </div>
</body>
</html>