{% load static %}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/trainingcourse.css' %}">
    <title>ثبت نلم متقاضیان دوره</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="header-title">سامانه فروش تولیدکنندگان پوشاک کشور</h1>
            <div class="logo-container-one">
                <img class="logo" src="{% static 'logo/logo.png' %}">
            </div>
            <h2  class="title-page">ثبت نام متقاضیان دوره آموزشی نمایندگی</h2>
        </header>

        <main class="main-two-page">
            <form class="form-course" method="POST">
                {% csrf_token %}
                <div>
                    <input id="name" name="name" placeholder="نام">
                </div>

                <div>
                    <input id="family" name="family" placeholder="نام خانوادگی">
                </div>

                <div>
                    <input id="national_code" name="national_code" placeholder="کد ملی">
                </div>

                <div>
                    <input id="phone_number" name="phone_number" placeholder="شماره همراه">
                </div>

                <div>
                    <input id="email" name="email" placeholder="ایمیل">
                </div>

                <div>
                    <input id="birth_year" name="birth_year" placeholder="سال تولد">
                </div>

                <div class="container-button" id="submit">
                    <button class="submit-information">
                        ثبت اطلاعات
                    </button>
                </div>

            </form>



            <div class="logo-whats-app-container">
                <a href="https://wa.me/[9923515166]">
                    <img  class="logo-whats-app" src="{% static 'image/whatsapp-1024x1024.png' %}">
                </a>
            </div>
        </main>
        
        <div class="footer">
            <div>
                <a  href="https://trustseal.enamad.ir/?id=248366&code=nWHbJZwi5ZetplLy6fZO" target="_self" rel="noopener">
                    <img class="footer-logo" src="{% static 'logo/photo_2022-09-19_17-40-51.jpg' %}">
                </a>
            </div>
            <div class="text-footer">
                <div class="link">
                    <a class="question" href="./question.html">سوالات</a>
                    <span> , </span>
                    <a class="about-us" href="./about.html">درباره ما</a>
                </div>
                <p class="text">تمامی حقوق این سایت متعلق به شرکت لیان یاقوت ممتاز ایده (لیما) می باشد</p>
                <p class="text">تابستان 1401 ©</p>
            </div>
        </div>

    </div>
</body>
</html>