*{
    padding: 0;
    margin: 0;
    font-family: 'Yekan';
}

body{
    background-color: #3d1962;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    padding-top: 5vh;
}

.header-title{
    color: #ffffff;
    font-size: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-page{
    color: #ffffff;
    font-size: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-container-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    width: 12.5%;
    height: 12.5%;
    border: hidden;
    border-radius: 15px;
}

main{
    padding-top: 10vh;
}

.container-accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.accordion {
    background-color: #fbb144;
    color: #3d1962;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    
    outline: none;
    font-size: 2.5vh;
    transition: 0.4s;
    border: hidden;
    border-radius: 20px;
  }

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    width: 75.25%;
    padding: 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 2vh;
    border-radius: 20px;
}

.footer{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #5c5c5c;
    height: 20vh;
}

.question , .about-us{
    color: #ffffff;
    font-size: 2.5vh;
}

.footer-logo{
    width: 12.5vh;
    height: 12.5vh;
}

.text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 2.5vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
}

.question , .about-us{
    color: #ffffff;
    font-size: 2.5vh;
}

span{
    color: #ffffff;
    font-weight: bold;
}

@media only screen and (min-width:375px) and (max-width:426px){

    .header-title{
        font-size: 4vh;
    }

    .footer{
        position: relative;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: #5c5c5c;
        height: 30vh;
    }
    
    .footer-logo{
        width: 10vh;
        height: 10vh;
    }
    
    .text-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .text{
        font-size: 2vh;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .question , .about-us{
        color: #ffffff;
        font-size: 2.25vh;
    }
}

@media only screen and (max-width:320px){
    .header-title{
        font-size: 3.5vh;
    }

    .title-page{
        font-size: 3vh;
    }

    .logo{
        width: 12.5%;
        height: 12.5%;
        border: hidden;
        border-radius: 10px;
    }

    .footer{
        position: relative;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: #5c5c5c;
        height: 30vh;
    }
    
    .footer-logo{
        width: 10vh;
        height: 10vh;
    }
    
    .text-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .text{
        font-size: 2vh;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .question , .about-us{
        color: #ffffff;
        font-size: 2.25vh;
    }
}